.canvas-container {
  position: absolute;
  left: 50px;
  top: 25px;
  bottom: 25px;
  z-index: 1;
}
  
canvas {
  background-color: grey;
  width: 574px;
  height: 670px;
  image-rendering: crisp-edges;
  image-rendering: pixelated;
  display: block;
  image-rendering: -moz-crisp-edges;
  image-rendering: pixelated;
  image-rendering: crisp-edges;
}