.canvas-container {
  position: absolute;
  left: 50px;
  top: 25px;
  bottom: 25px;
  z-index: 1;
}
  
canvas {
  border: 2px solid #000;
  background-color: #d4d0c8;
  image-rendering: crisp-edges;
  image-rendering: pixelated;
  border: 0px solid #2d0080;
  display: block;
}