body {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  background-color: #808080;
  user-select: none;

}

.container {
  display: flex;
  width: 960px; /* Set the width explicitly */
  height: 720px; /* Set the height explicitly */
  border: 2px solid #2d0080;
  align-items: center; 
  transform: scale(1) translateY(5%);
  transform-origin: top center;
  position: relative;
  margin: 0; /* Ensure no margin */
  padding: 0; /* Ensure no padding */
  overflow: hidden; /* Prevent any overflow */
  background-color: rgba(0, 0, 0)
}

div[style*="background-color: rgba(0, 0, 0, 0.8)"] {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}