#startScreen {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    flex-direction: column;
    align-items: center; /* Centers horizontally */
    justify-content: center; /* Centers vertically */
    z-index: 2000;
}

#startButton {
    padding: 10px 20px;
    font-size: 20px;
    cursor: pointer;
    /* Ensure the button itself doesn't have any weird margins or positioning */
    margin: 0;
}

#loadingScreen {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: none; /* Initially hidden */
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 2000;
    box-sizing: border-box; /* Ensure padding and border are included in the dimensions */
    margin: 0; /* Remove any default margin */
    padding: 0; /* Remove any default padding */
    overflow: hidden; /* Prevent any overflow */
}

#loadingScreen img {
    width: 100%; /* Force the image to fill the width */
    height: 100%; /* Force the image to fill the height */
    object-fit: cover; /* Ensure the image covers the entire area without distortion */
    display: block; /* Remove any inline spacing */
    margin: 0; /* Remove any default margin */
    padding: 0; /* Remove any default padding */
}