.pause-menu-container {
    position: absolute;
    top: 25px;
    left: 50px;
    width: 574px;
    height: 670px;
    z-index: 2000;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 127, 0.85);
    mix-blend-mode: multiply;
}

.pause-menu-content {
    position: relative;
    z-index: 2001;
    padding: 20px;
    border-radius: 10px;
    width: 300px;
    text-align: center;
}

.pause-menu-title {
    background: -webkit-linear-gradient(lightblue, white, LightSteelBlue, dimgrey, black);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 48px;
    font-weight: 800;
    -webkit-text-stroke: 1px black;
    margin-bottom: 40px;
}

.pause-menu-buttons {
    display: flex;
    flex-direction: column;
}

.pause-menu-button {
    background: -webkit-linear-gradient(lightblue, white, LightSteelBlue, dimgrey, black);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 36px;
    font-weight: 800;
    -webkit-text-stroke: 1px black;
    cursor: pointer;
    opacity: 0.5;
}

.pause-menu-button.selected {
    background: -webkit-linear-gradient(white, silver, orange, saddlebrown, black);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    opacity: 1;
}